:root {
  --primary-color: rgb(211, 102, 157);
  --secondary-color: #5a7b5a;
  --third-color: #575454;
}

html {
  /* font-family: 'Hina Mincho', serif; */
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

header{
    position: fixed;
    background-color: white;
    width: 100%;
}

#main_picture{
    height: 700px;
    background-image: url(img/main_picture.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 0 -10px;
    background-size: cover;
    
}

#brand {
  display: flex;
  width: 50%;
}

#brand img {
  width: 20%;
  margin: 20px 0 20px 20px;
}

#navi {
  background-color: rgb(235, 235, 235);
  padding: 10px;
}

.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-end;
}

.navigation li{
    transition: 300ms 200ms transform;
}

.navigation li:hover{
    transform: rotate(10deg);
}

.navigation a:hover {
  color: var(--primary-color);
  font-weight: bold;
  
}

.navigation a::before {
  content: "-";
  margin-right: 10px;
}

.navigation a::after {
  content: "-";
  margin-left: 10px;
}

.navigation li {
  width: 200px;
  /* margin: 5%; */
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0 10px 0;
}

.navigation li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: bold;
}

.navigation li a.active {
  color: var(--primary-color);
}

#sub_menu, #sub_sub_menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  display: none;
  position: absolute;
  background-color: rgb(235, 235, 235);
  padding: 0;
  padding-top: 20px;
}

#sub_sub_menu li{
    /* margin-left: 10px; */
    margin-left: -90px;
    background-color: rgb(235, 235, 235);
    opacity: 0.5;
    z-index: -1;

}

#sub_sub_menu{
    padding: 0;
    left: -54%;
    top: 0;
    background-color: transparent;
}


#sub_menu a::before{
    content: none;
}

#sub_menu a::after{
    content: none;
}

.submenu_true, .submenu_submenu_true{
    position: relative;
}

.submenu_true:hover #sub_menu{
    display: block;
}

.submenu_submenu_true:hover #sub_sub_menu{
    display: block;
}

ul.navigation.navigation_aside {
  margin: 0;
  display: block;
}

ul.navigation.navigation_aside a::before,
ul.navigation.navigation_aside a::after {
  content: none;
}

.footer_nav .navigation li a {
  color: var(--third-color);
  font-size: 1rem;
}

#company_name {
  letter-spacing: 0.5rem;
  font-size: 3.5rem;
  text-align: center;
  width: 50%;
  font-family: "Dancing Script", cursive !important;
  margin-top: 3.5rem;
}

h1 {
  color: var(--primary-color);
  /* text-transform: uppercase; */
  font-size: 3rem;
  letter-spacing: 1.5px;
  font-family: "Dancing Script", cursive !important;
}

p {
  letter-spacing: 1.5px;
  font-size: 1.5rem;
  text-align: justify;
}

.image_left {
  float: left;
  margin: 0 1rem 0 0;
  width: 250px;
}

.image_right {
  float: right;
  margin: 0 0 0 1rem;
  width: 200px;
}

table {
  text-align: center;
  font-size: 2rem;
  /* border: 1px solid var(--primary-color); */
}

table th {
  color: var(--secondary-color);
  width: 200px;
  border: 1px solid var(--primary-color);
  background-color: rgb(243, 242, 242);
}

table td {
  color: var(--third-color);
  border: 1px solid var(--primary-color);
}

main {
  /* max-width: 1800px; */
  max-width: 100%vw;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

article {
  width: 80%;
  flex-grow: 3;
  flex-shrink: 2;
}

aside {
  width: 20%;
  flex-grow: 1;
  margin-top: 110px;
}

aside > p {
  padding-inline-start: 40px;
  text-decoration: underline;
  font-weight: bold;
  font-family: "Dancing Script", cursive !important;

}

aside .navigation> li {
    text-transform: none;
    margin-top: 10px;
  }

footer {
  border-top: 5px solid rgb(243, 242, 242);
  padding-top: 25px;
  margin-top: 50px;
}

footer p {
  text-align: center;
  margin-bottom: 50px;
}

footer img {
  width: 5%;
}

.img_gallery {
  /* opacity: 0.5; */
  width: 300px;
  z-index: -1;
  margin-bottom: 10px;
 
}

.img_gallery:hover {
  opacity: 1;
}

#gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  break-inside: avoid;
}

.footer_nav{
    display: flex;
    justify-content: center;
}

.footer_nav li{
    list-style: none;
}

@media print {
    #navi, #main_picture, footer, #contact_form_div{
        display: none;
    }
    header{
        position: relative;
    }
    
}

@media screen and (max-width: 1130px){
  article, aside{
    width: 100%;
  }
}