.shopping_cart_style{
    height: 112px;
    justify-content: flex-end;
    align-items: flex-end;
}

#shopping_cart{
    margin-top: 85px;
}

#CartTotal li{
    background-color: rgb(85, 85, 85);
    color: white;
}

#numberOfItems li{
    background-color: rgb(126, 125, 125);
    color: white;
}

.close{
    cursor: pointer;
}
