
main{
    max-width: 1900px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cart, .cart_add{
    width: 400px;
    min-height: 400px;
    margin: 20px;
    background-color: rgb(236, 232, 232);
}

.cart_photo img, .cart_name p, .cart_price p{
    width: 100%;
}

p{
    text-align: center;
    font-size: 24px;
}

.cart_add{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart_add:hover{
    background-color: rgb(151, 118, 118);
    cursor: pointer;
}

