
main{
    max-width: 1900px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    place-items: center;
}

.cart, .cart_add{
    width: 400px;
    min-height: 400px;
    margin: 20px;
    background-color: rgb(236, 232, 232);
}

.cart_photo img, .cart_name p, .cart_price p{
    width: 100%;
}

p{
    text-align: center;
    font-size: 24px;
}

.cart_add{
    display: grid;
    place-items: center;
    
}

.cart_add:hover{
    background-color: rgb(151, 118, 118);
    cursor: pointer;
}

@media screen and (max-width: 1760px){
    main{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1360px){
    main{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 900px){
    main{
        grid-template-columns: 1fr;
    }
}
